*

# Whitelist - explicitly allow files to git
!/.dockerignore
!/.env.example
!.gitignore
!/AGENTS.md
!/Dockerfile
!/LICENSE
!/README.md
!/biome.jsonc
!/bun-env.d.ts
!/bun.lock
!/bunfig.toml
!/components.json
!/compose.yaml
!/package.json
!/DESIGN.md
!/scripts
!/scripts/**
!/src
!/src/**
!/tsconfig.json
