# Ignore everything by default
*

# Allow directories to be traversable
!*/

!.github/**
!src/**

!.dockerignore
!.gitignore
!AGENTS.md
!biome.jsonc
!bun-env.d.ts
!bun.lock
!bunfig.toml
!components.json
!compose.yaml
!Dockerfile
!index.html
!package.json
!plan.md
!README.md
!tsconfig.json

node_modules
