# Ignore everything by default
*

# Allow directories to be traversable
!*/

!src/**

!.gitignore
!AGENTS.md
!biome.jsonc
!bun-env.d.ts
!bun.lock
!bunfig.toml
!components.json
!index.html
!package.json
!plan.md
!README.md
!tsconfig.json

node_modules
